{% extends 'base.html' %}

{% block 'breadcrumb' %}
{{ block.super }}
<li class="breadcrumb-item active">Dashboard</li>
{% endblock %}

{% block 'content' %}
<div class="row">
  <div class="col-sm-12 mb-3">
    <h1>Latest Updates</h1>
  </div>
</div>
<div class="fade-in row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-12 text-right">
             <a href="{% url 'refresh-metadata' %}"><button class="btn btn-primary btn-sm" data-url="#" data-toggle="modal" data-target="#modal"><svg class="c-icon">
              <use xlink:href="/static/vendors/@coreui/icons/svg/free.svg#cil-reload"></use>
             </svg> Refresh Metadata</button></a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-responsive-sm table-hover">
          <thead>
            <th>Product</th>
            <th>Version</th>
            <th>Date Published</th>
            <th>Pulled</th>
            <th>File</th>
            <th style="width: 200px">Actions</th>
          </thead>
          <tbody>
            {% for object in object_latest %}
            <tr>
            <td>
              {{object.product.name}}
            </td>
            <td>{{object.version}}</td>
            <td>
              {% if object.date_published %}
              {{object.date_published}}
              {% else %}
              {{object.indexed}} (indexed)
              {% endif %}</td>
            <td>
              {% if object.pulled %}
                <svg class="c-icon text-success">
                  <use xlink:href="/static/vendors/@coreui/icons/svg/free.svg#cil-check"></use>
                </svg>
              {% else %}
                <svg class="c-icon">
                  <use xlink:href="/static/vendors/@coreui/icons/svg/free.svg#cil-x-circle"></use>
                </svg>
              {% endif %}
            </td>
              <td>
                {% if object.pulled %}
                <a href="{{ object.fw.url }}" download>{{object.get_fw_filename}}</a>
                {% endif %}
              </td>
            <td class="text-right">
              <a href="{% url 'fw-pull' object.id %}"><button class="btn btn-secondary btn-sm" data-toggle="tooltip" data-placement="top" data-original-title="Pull Firmware" {% if not object.pullable %}disabled{% endif %}><svg class="c-icon">
              <use xlink:href="/static/vendors/@coreui/icons/svg/free.svg#cil-cloud-download"></use>
              </svg></button></a>
          </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-12 mb-3">
    <h1>All Updates</h1>
  </div>
</div>
<div class="fade-in row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-12 text-right">

          </div>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-responsive-sm table-hover">
          <thead>
            <th>Product</th>
            <th>Version</th>
            <th>Date Published</th>
            <th>Pulled</th>
            <th>File</th>
            <th style="width: 200px">Actions</th>
          </thead>
          <tbody>
            {% for object in object_list %}
            <tr>
            <td>
              {{object.product.name}}
            </td>
            <td>{{object.version}}</td>
            <td>
              {% if object.date_published %}
              {{object.date_published}}
              {% else %}
              {{object.indexed}} (indexed)
              {% endif %}</td>
            <td>
              {% if object.pulled %}
                <svg class="c-icon text-success">
                  <use xlink:href="/static/vendors/@coreui/icons/svg/free.svg#cil-check"></use>
                </svg>
              {% else %}
                <svg class="c-icon">
                  <use xlink:href="/static/vendors/@coreui/icons/svg/free.svg#cil-x-circle"></use>
                </svg>
              {% endif %}
            </td>
              <td>
                {% if object.pulled %}
                <a href="{{ object.fw.url }}" download>{{object.get_fw_filename}}</a>
                {% endif %}
              </td>
            <td class="text-right">
              <a href="{% url 'fw-pull' object.id %}"><button class="btn btn-secondary btn-sm" data-toggle="tooltip" data-placement="top" data-original-title="Pull Firmware" {% if not object.pullable %}disabled{% endif %}><svg class="c-icon">
              <use xlink:href="/static/vendors/@coreui/icons/svg/free.svg#cil-cloud-download"></use>
              </svg></button></a>
          </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
